# DataFrame 操作練習

### 載入範例

In [ ]:
import pandas as pd
import numpy as np

data = {
    "student_id": ["S001", "S002", "S003", "S004", "S005",
                   "S006", "S007", "S008", None, "S010"],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva",
             "Frank", "Grace", "Helen", "Ian", "Jane"],
    "gender": ["F", "M", "M", "M", "F", "M", "F", "F", "M", "F"],
    "age": [20, 21, 22, 20, 23, 21, None, 22, 20, 21],
    "department": ["CS", "Math", "CS", "Physics", "Math",
                   "CS", "Physics", "Math", "CS", "Physics"],
    "score": [85, 90, 78, None, 92, 88, 75, 80, 95, 87],
    "enroll_date": pd.to_datetime([
        "2022-09-01", None, "2022-09-01", "2023-02-15", "2021-09-01",
        "2022-09-01", "2023-02-15", "2021-09-01", "2022-09-01", None
    ])
}

df = pd.DataFrame(data)
df

In [ ]:
df.sort_values("age", ascending=True)    # 根據指定欄位排序

In [ ]:
df.sort_values("score", ascending=False)    # 根據指定欄位排序

### 基本資訊

In [ ]:
df.head(3)          # 前幾列

In [ ]:
df.shape    # 資料集大小

In [ ]:
df.dtypes          # 各欄位型態

In [ ]:
df.info()          # 型態與缺失值

In [ ]:
df.describe()      # 數值統計

In [ ]:
df.isna().sum()     # 各欄位 NaN 數量

### 篩選資料

In [ ]:
df["name"]      # 單一欄位

In [ ]:
df[["name","score"]]  # 多個欄位

In [ ]:
df[df["score"] > 80]         # 分數大於 90

In [ ]:
df.iloc[[0]]        # 第一列

### 資料轉換

In [ ]:
df["passed"] = df["score"] > 80     # 新增一欄，分數大於 80 為 True，否則為 False

In [ ]:
df

In [ ]:
df["age"] = df["age"].astype("int")     # 將年齡轉換為整數
df["score"] = df["score"].astype("int")   # 將分數轉換為整數

In [ ]:
df["age"] = df["age"].astype("Int64")    # 將年齡轉換為整數，但允許缺失值
df["score"] = df["score"].astype("Int64")  # 將分數轉換為整數，但允許缺失值

In [ ]:
df.dtypes

### 空值處理

In [ ]:
df[df.isnull().any(axis=1)]     # 找出有缺失值的列

In [ ]:
df[df["enroll_date"].isna()]     # 篩出該欄位為 NaN 的列

In [ ]:
df.fillna(0)                       # 將所有空值填補為特定數值

In [ ]:
df["age"].fillna(int(df["age"].mean()))  # 將指定欄位空值填補為平均值

In [ ]:
df['enroll_date'].fillna(pd.Timestamp('1970-01-01'))    # 將欄位填補為特定日期

In [ ]:
df['enroll_date'].replace({pd.NaT: None})       # 將 NaT 替換為 None

In [ ]:
df['enroll_date'] = df['enroll_date'].replace({pd.NaT: None})       # 將 NaT 替換為 None

In [ ]:
df['score'] = df['score'].replace({np.nan: None})   # 把 NaN 替換成 None

In [ ]:
df.dropna()                # 刪除空值列

In [ ]:
df

In [ ]:
df = df.dropna()                # 刪除空值列

### 檔案輸出與載入

In [ ]:
df.to_csv("example.csv")        # 輸出為 CSV 檔案

In [ ]:
df = pd.read_csv("example.csv")     # 讀取 CSV 檔案

In [ ]:
df

# 練習

In [ ]:
import pandas as pd
import numpy as np

data = {
    "訂單編號": [f"O{str(i).zfill(3)}" for i in range(1, 11)],
    "顧客姓名": ["王小明","陳小華","林美麗","張志強","李小芳",
             "吳怡君","周家豪","徐雅婷","鄭俊傑","劉淑芬"],
    "商品類別": ["手機","筆電","耳機","手機","平板",
             "家電","筆電","手機","耳機","平板"],
    "單價": [19900, 32000, 2500, np.nan, 15000,
           9000, 28000, 21000, np.nan, 15500],
    "數量": [1, 1, 2, 1, np.nan,
           1, 1, 2, 3, np.nan],
    "訂單日期": pd.to_datetime([
        "2023-01-05","2023-01-12","2023-02-08","2023-03-01", None,
        "2023-03-20", None,"2023-04-05","2023-04-20", None
    ])
}

df = pd.DataFrame(data)
df

1. 檢查資料

- 查看哪個欄位有缺失值

- 確認各欄位型態


2. 處理缺失值

- 用平均值補齊 單價
- 用 fillna(1) 補齊 數量
- 用固定日期填補 訂單日期


3. 篩選與排序

- 找出 商品類別 = "手機" 的訂單
- 找出 單價 > 20000 的訂單
- 依照 數量 由大到小排序



4. 運算與新增欄位

- 新增 總金額 = 單價 × 數量
- 計算平均訂單金額